<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/register-style.css">
</head>

<body>

    <!-- header -->
    <%- include('../partials/header') %>

        <main class="register-form">
            <h1 class="titregister">Registrate</h1>
            <form action="/users/" method="POST" enctype="multipart/form-data">
                <div class="contenedor">
                    <input type="text" name="firstName" placeholder="Nombre">
                    <br>
                    <input type="text" name="lastName" placeholder="Apellido">
                    <br>
                    <input type="text" name="category" placeholder="categoria">
                    <br>
                    <input type="file" name="image" placeholder="imagen">
                    <br>
                    <input type="email" name="email" placeholder="Correo Electronico">
                    <br>
                    <input type="password" name="password" placeholder="Contraseña">
                </div>
                <div class="register-button"><input type="submit" value="Crear Cuenta"></div>
            </form>
        </main>

        <!-- footer -->
        <%- include('../partials/footer') %>

</body>

</html>