<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/register-style.css">
</head>

<body>

    <!-- header -->
    <%- include('../partials/header') %>

        <main>
            <form class="register-form">
                <h1 class="titregister">Registrate</h1>
                <div class="contenedor">
                    <div class="input-contenedor">
                        <i class="fas fa-user icon"></i>
                        <input type="text" placeholder="Nombre Completo">
                    </div>
                    <div class="input-contenedor">
                        <i class="fas fa-phone-alt icon"></i>
                        <input type="tel" placeholder="Teléfono/Celular">
                    </div>
                    <div class="input-contenedor">
                        <i class="fas fa-home icon"></i>
                        <input type="text" placeholder="Dirección">
                    </div>
                    <div class="input-contenedor">
                        <i class="fas fa-envelope icon"></i>
                        <input type="email" placeholder="Correo Electronico">
                    </div>
                    <div class="input-contenedor">
                        <i class="fas fa-key icon"></i>
                        <input type="password" placeholder="Contraseña">
                    </div>
                </div>
                <div class="register-button"><input type="submit" value="Crear Cuenta"></div>
            </form>
        </main>

        <!-- footer -->
        <%- include('../partials/footer') %>

</body>

</html>