.header-categories{
    display: none;
}

.login-form{
    font-family: 'Open Sans', sans-serif;
    border: solid black 1px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    max-width: 700px;
}

.login-form .titlogin{
    text-align: center;
    font-size: 40px;
}

.login-form .contenedor{
    width: 100%;
    padding: 15px 0;
}

.contenedor .input-contenedor{
    border: none;
    height: 35px;
    margin-bottom: 15px;
    border-bottom: 1px solid #aaa;
    padding: 5px;
}

.input-contenedor input{
    width: 80%;
    height: 100%;
    font-size: 15px;
    padding-left: 5px;
    border: none;
}

.input-contenedor .icon{
    padding-left: 10px;
    text-align: center;
    color: #999
}

.contenedor .otc{
    width: 100%;
    font-size: 15px;
    text-align: center;
}

.login-button{
    width: 100%;
    text-align: center;
}

.login-button input{
    border: none;
    color: white;
    font-size: 20px;
    background: black;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-form .centrado{
    text-align: center;
    font-size: 15px;
}

.login-form .link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}