/*Francois One and Open Sans font import*/

@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Open+Sans:ital,wght@0,400;1,300&family=Yanone+Kaffeesatz&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url("/images/main-background.jpg");
    background-position: center;
    background-size: cover;
}

.article-navigation {
    display: none;
}

.article-offers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.article-offers .category-name{
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

.article-offers article{
    width: 80%;
    height: 350px;
    margin: 30px 0;
    padding: 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
}

.article-offers .article-name {
    width: 100%;
    font-size: 30px;
    padding: 5px 0;
}

.article-offers .article-description {
    width: 100%;
    font-size: 15px;
    padding: 5px 0;
}

.article-offers article a {
    width: 100%;
}

.article-offers article img {
    width: 100%;
    padding: 5px 0;
    height: 150px;
    object-fit: contain;
   
}

.article-offers .article-price {
    font-size: 35px;
    color: #e29e35;
    width: 60%;
    height: 45px;
    padding: 5px 0;
}

.article-offers .article-cart {
    width: 30%;
    padding: 5px 0;
    text-align: right;
}

@media (min-width: 461px) {
    .article-offers article{
        width: 40%;
    }
}

@media (min-width: 769px) {

    .article-navigation {
        display: block;
        width: 15%;
        height: 100%;
        padding: 30px;
        color: white;
    }

    .article-navigation .title {
        font-family: 'Francois One', sans-serif;
        font-size: 30px;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray
    }

    .article-navigation .categories-list {
        font-family: 'Gill Sans', 'Gill Sans MT';
        padding: 20px 10px;
        font-size: 20px;
    }

    .article-navigation .categories-list li{
        padding: 10px 0;
    }

    .article-navigation .product-list{
        padding-left: 10px;
        font-size: 15px;
        margin: 10px 0;
    }

    .article-navigation .product-list li{
        padding: 5px 0;
    }

    .article-offers{
        width: 85%;
    }
    .article-offers article{
        width: 23%;
    }
}