<header>
    <div class="header-social">
        <div class="social">
            <a href="http://api.whatsapp.com/send?phone=5493513323046"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/titabe.cba/?hl=es"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/titabe.cba"><i class="fab fa-facebook-square"></i></a>
            <a href="mailto: titabe.cba@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
        <div class="login">
            <a href="/login"><i class="fas fa-user"></i></a>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i>(0)</a>
        </div>
    </div>
    <div class="header-top-navbar">
        <div class="header-top-navbar-logo">
            <a href="/"><img src="/images/logo-white.png" alt="logo-titabe"></a>
        </div>
        <div class="header-top-navbar-search-bar">
            <form action="/busqueda">
                <input type="text" name="search" placeholder="Busca aquí tu producto!">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="header-top-navbar-login-cart">
            <a href="/login"><i class="fas fa-user"></i> Iniciar sesión |</a>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i> (0)</a>
        </div>
    </div>
    <div class="header-bottom-navbar">
        <div class="header-bottom-navbar-showroom">
            <i class="fas fa-map-marker-alt"></i>
            <p>Reservá tu visita a nuestro showroom</p>
        </div>
        <div class="header-bottom-navbar-send">
            <i class="fas fa-truck fa-lg"></i>
            <p>Envíos a toda la Argentina</p>
        </div>
        <div class="header-bottom-navbar-card">
            <i class="fas fa-credit-card fa-lg"></i>
            <p>Aceptamos tarjetas de crédito y débito</p>
        </div>
    </div>
    <div class="header-banner">
        <img src="/images/banner-1.png" alt="banner-promotions">
    </div>
    <div class="header-categories">
        <a href=""><img src="/images/cat-discos.jpg" alt="categoria-discos"></a>
        <a href=""><img src="/images/cat-fogonero.jpg" alt="categoria-fogonero"></a>
        <a href=""><img src="/images/cat-leñero.jpg" alt="categoria-leñero"></a>
        <a href=""><img src="/images/cat-parrilla.jpg" alt="categoria-parrilla"></a>
        <a href=""><img src="/images/cat-plancha.jpg" alt="categoria-plancha"></a>
    </div>
</header>