<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/main-style.css">
        </head>

    <body>

        <!-- header -->
        <%- include('../partials/header') %>

            <main>
                <section class="article-navigation">
                    <h3>Categorías</h3>
                    <ul class="article-navigation-categories">
                        <li>Ofertas</li>
                        <li>Parrilas</li>
                        <li>Fogoneros</li>
                        <li>Disco</li>
                        <li>Tablas</li>
                        <li>Accesorios</li>
                    </ul>
                </section>

                <section class="article-offers">
                    <article>
                        <p class="article-name">LEÑERO 40CM</p>
                        <p class="article-description">27CM ANCHO X 30CM ALTO REFORZADO</p>
                        <a href="/product/Detail"><img src="/images/article-leñero-40cm.png" alt="product-image"
                                class="article-image"></a>
                        <p class="article-price">$6.400</p>
                        <div class="article-cart"><i class="fas fa-cart-plus fa-2x"></i></div>
                    </article>
                    <article>
                        <p class="article-name">LEÑERO 50CM</p>
                        <p class="article-description">27CM ANCHO X 30CM ALTO REFORZADO</p>
                        <img src="/images/article-leñero-50cm.png" alt="product-image" class="article-image">
                        <p class="article-price">$6.990</p>
                        <div class="article-cart"><i class="fas fa-cart-plus fa-2x"></i></div>
                    </article>
                    <article>
                        <p class="article-name">LEÑERO 60CM</p>
                        <p class="article-description">27CM ANCHO X 30CM ALTO REFORZADO</p>
                        <img src="/images/article-leñero-40cm.png" alt="product-image" class="article-image">
                        <p class="article-price">$7.730</p>
                        <div class="article-cart"><i class="fas fa-cart-plus fa-2x"></i></div>
                    </article>
                    <article>
                        <p class="article-name">INICIADOR DE FUEGO</p>
                        <p class="article-description"></p>
                        <img src="/images/article-iniciador-fuego.png" alt="product-image" class="article-image">
                        <p class="article-price">$1.360</p>
                        <div class="article-cart"><i class="fas fa-cart-plus fa-2x"></i></div>
                    </article>
                    <article>
                        <p class="article-name">DIABLITO FREE</p>
                        <p class="article-description">25CM X 25CM X 37CM REFORZADO</p>
                        <img src="/images/article-diablito-fire.png" alt="product-image" class="article-image">
                        <p class="article-price">$8.500</p>
                        <div class="article-cart"><i class="fas fa-cart-plus fa-2x"></i></div>
                    </article>
                    <article>
                        <p class="article-name">DIABLITO</p>
                        <p class="article-description">25CM X 25CM X 37CM REFORZADO</p>
                        <img src="/images/article-diablito.png" alt="product-image" class="article-image">
                        <p class="article-price">$8.780</p>
                        <div class="article-cart"><i class="fas fa-cart-plus fa-2x"></i></div>
                    </article>
                    <article>
                        <p class="article-name">PLANCHA</p>
                        <p class="article-description">45CM X 26 CM ESPESOR 3,2MM</p>
                        <img src="/images/article-plancha.png" alt="product-image" class="article-image">
                        <p class="article-price">$5.000</p>
                        <div class="article-cart"><i class="fas fa-cart-plus fa-2x"></i></div>
                    </article>
                    <article>
                        <p class="article-name">PROVOLETERA</p>
                        <p class="article-description">DIAMETRO 16CM X 30CM LARGO</p>
                        <img src="/images/article-provoletera.png" alt="product-image" class="article-image">
                        <p class="article-price">$3.000</p>
                        <div class="article-cart"><i class="fas fa-cart-plus fa-2x"></i></div>
                    </article>
                </section>
            </main>

            <!-- footer -->
            <%- include('../partials/footer') %>

    </body>

</html>