<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITABÉ</title>
    <link rel="icon" type="image/x-icon" href="/images/isotype-logo-white.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/header-style.css">
    <link rel="stylesheet" href="css/footer-style.css">
    <link rel="stylesheet" href="css/login-style.css">
</head>
<body>
    <header>
        <div class="header-social">
            <a href="https://www.instagram.com/titabe.cba/?hl=es"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/titabe.cba"><i class="fab fa-facebook-square"></i></a>
            <a href="mailto: titabe.cba@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
       <div class="header-top-navbar">
            <div class="header-top-navbar-logo"><a href="/"><img src="/images/logo-white.png" alt="logo-titabe"></a></div>
            <div class="header-top-navbar-search-bar">
                <form action="/busqueda">
                    <input type="text" name="search" placeholder="Busca aquí tu producto!">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="header-top-navbar-login-cart">
                <a href="/login"><i class="fas fa-user"></i> Iniciar sesión |</a>
                <a href="/productCart"><i class="fas fa-shopping-cart"></i> (0)</a>
            </div>
       </div> 
       <div class="header-bottom-navbar">
            <div class="header-bottom-navbar-whatsapp">
                <i class="fab fa-whatsapp fa-lg"></i>
                <p>(+54)351-3313046 (+54)351-3624366</p> 
            </div>
            <div class="header-bottom-navbar-send">
                <i class="fas fa-truck fa-lg"></i>
                <p>Envíos a toda la Argentina</p>
            </div>
            <div class="header-bottom-navbar-card">
                <i class="fas fa-credit-card fa-lg"></i>
                <p>Aceptamos tarjetas de crédito y débito</p>
            </div>
       </div>
       <div class="header-banner">
            <img src="/images/banner-blue.png" alt="banner-promotions">
       </div>
    </header>
    <form class="formulario">
        <h1 class="titlogin">Login</h1>
        <div class="contenedor">

        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="Correo Electronico">
        </div>
        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contraseña">
        </div>
        <p>¿Olvidaste tu Contraseña?</p>
        </div>
        <input type="submit" value="Iniciar Sesión" class="button">
        <p class="centrado">¿No tienes una cuenta? <a class="link"
        href="register.html">Crear Cuenta</a></p>
    </form>

    <footer>
        <section class="footer-about-us">
            <h3>TITABÉ</h3>
            <p>"Iván y Germán, hermanos creadores de la Pyme familiar TITABÉ. La misma está enfocada en la calidad de los productos que ofrece y la atención personalizada, teniendo como objetivo fundamental lograr la total satisfacción del cliente. A través de nuestro Slogan “La solución para el asador”, hacemos foco en brindarle a nuestros clientes un producto/servicio para reunir a los más queridos a la pasión que nos une, hacer comidas asadas."</p>
        </section>
        <section class="footer-information">
            <h3>INFORMACIÓN</h3>
            <ul class="footer-information-items">
                <li>Cómo Comprar</li>
                <li>Medios de pago</li>
                <li>Preguntas Frecuentes</li>
                <li>Términos y Condiciones</li>
            </ul>
        </section>
        <section class="footer-fire">
            <img src="/images/fire.jpg" alt="footer-fire">
        </section>
        <section class="footer-rights">
            <p>COPYRIGHT TITABÉ - 2022. TODOS LOS DERECHOS RESERVADOS.</p>
        </section>
    </footer>
</body>
</html>