<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('./partials/head') %>

    <body>

        <!-- header -->
        <%- include('./partials/header') %>

            <main>
                <div class="current-product">
                    <div class="product-pictures">
                        <img src="/images/article-leñero-40cm.png" alt="article-leñero-40cm">
                    </div>
                    <div class="product-details">
                        <h2>LEÑERO 40CM</h2>
                        <p class="product-description">27CM ANCHO X 30CM ALTO REFORZADO</p>
                        <p class="product-price">$6.400</p>
                        <a href="/productCart">Agregar al carrito</a>
                    </div>
                </div>
            </main>

            <!-- footer -->
            <%- include('./partials/footer') %>

    </body>

</html>