<footer>
    <section class="footer-about-us">
        <h3>TITABÉ</h3>
        <p>"Iván y Germán, hermanos creadores de la Pyme familiar TITABÉ. La misma está enfocada en la calidad de
            los productos que ofrece y la atención personalizada, teniendo como objetivo fundamental lograr la total
            satisfacción del cliente. A través de nuestro Slogan “La solución para el asador”, hacemos foco en
            brindarle a nuestros clientes un producto/servicio para reunir a los más queridos a la pasión que nos
            une, hacer comidas asadas."</p>
    </section>
    <section class="footer-information">
        <h3>INFORMACIÓN</h3>
        <ul class="footer-information-items">
            <li>Cómo Comprar</li>
            <li>Medios de pago</li>
            <li>Preguntas Frecuentes</li>
            <li>Términos y Condiciones</li>
        </ul>
    </section>
    <section class="footer-fire">
        <img src="/images/fire.jpg" alt="footer-fire">
    </section>
    <section class="footer-rights">
        <p>COPYRIGHT TITABÉ - 2022. TODOS LOS DERECHOS RESERVADOS.</p>
    </section>
</footer>